*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

header{
    background-color: white;
}

header h1{
    display: inline-block;
}

.container-button{
    width: 80%;
    height: 50px;
    margin: 30px auto 0;
    background-color: white;
    padding: 10px 30px;
    border-radius: 5px;
}

.container-main{
    width: 80%;
    
    margin: 2px auto;
    background-color: white;
    border-radius: 5px;
}

main{
    padding: 20px 30px;
}

.container-button input[type="button"]{
    background-color: white;
    border-color: rgba(218, 221, 224, 1);
    color: rgba(218, 221, 224, 1);
    border-radius: 5px;
    padding: 5px;


}

.container-button input[type="button"]:hover{
    background-color: rgba(71, 173, 241, 1);
    color: white;
}

section{
    margin-block: 20px;
}
section h3{
    display: inline-block;
}

p{
    margin: 10px;
}

p .check{
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 3px;
}

p .box{
    color: white;
    border-radius: 13px;
    padding: 8px;
    font-size: 10px;
}

p .box.blue{
    background-color: rgba(71, 173, 241, 1);
}

p .box.purple{
    background-color: rgba(156, 114, 228, 1);
}

p .cross{
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 3px;
}

p .box.green{
    background-color: rgba(100, 192, 169, 1);
}

p .box.orange{
    background-color:rgba(242, 158, 51, 1);
}

p .box.pink{
    background-color:rgba(216, 99, 161, 1);
}

p .box.lightgreen{
    background-color:rgba(176, 201, 38, 1);
}